<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/ifinances</property>
        <property name="connection.username">infinite</property>
        <property name="connection.password">skills</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <!--  property name="connection.pool_size">1</property-->

        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

		
		<mapping class="tut01.oscar.data.entities.User"/>

		<mapping class="tut02.oscar.data.TimeTest"/>

		<mapping class="tut03.oscar.data.entities.Bank"/>
		<mapping class="tut03.oscar.data.entities.Bank2"/>
		<mapping class="tut03.oscar.data.entities.User"/>
		<mapping class="tut03.oscar.data.entities.User2"/>

		<mapping class="tut04.oscar.data.entities.Credential"/>
		<mapping class="tut04.oscar.data.entities.Credential2"/>
		<mapping class="tut04.oscar.data.entities.User3"/>

		<mapping class="tut05.oscar.data.entities.Account"/>
		<mapping class="tut05.oscar.data.entities.Transaction"/>

		<mapping class="tut06.oscar.data.entities.Account"/>
		<mapping class="tut06.oscar.data.entities.Transaction"/>

		<mapping class="tut07.oscar.data.entities.Account"/>
		<mapping class="tut07.oscar.data.entities.Transaction"/>
		<mapping class="tut07.oscar.data.entities.Budget"/>
		
		<mapping class="tut08.oscar.data.entities.Account"/>
		<mapping class="tut08.oscar.data.entities.Address"/>
		<mapping class="tut08.oscar.data.entities.Credential"/>
		<mapping class="tut08.oscar.data.entities.Transaction"/>
		<mapping class="tut08.oscar.data.entities.User"/>

		<mapping class="tut09.oscar.data.entities.Account"/>
		<mapping class="tut09.oscar.data.entities.Address"/>
		<mapping class="tut09.oscar.data.entities.Credential"/>
		<mapping class="tut09.oscar.data.entities.Transaction"/>
		<mapping class="tut09.oscar.data.entities.User"/>

 		<mapping class="tut10.oscar.data.entities.Account"/>
		<mapping class="tut10.oscar.data.entities.Address"/>
		<mapping class="tut10.oscar.data.entities.Bank"/>
		<mapping class="tut10.oscar.data.entities.Credential"/>
		<mapping class="tut10.oscar.data.entities.Transaction"/>
		<mapping class="tut10.oscar.data.entities.User"/>
 
    </session-factory>

</hibernate-configuration>